.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header, .restaurants, .search {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.search-btn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ff4500;
  }
}

.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}

.nav-items {
  gap: 20px;
  font-size: 18px;
  font-weight: 500;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.restaurant-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.search {
  justify-content: center;
  margin: 0 30%;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-btn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;

  &:hover {
    background-color: #ff4500;
  }
}

.shimmer-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-color: #f0f0f0;
  animation: shimmer 1.5s infinite linear;
}

.shimmer{
  background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-size: 200% auto;
}

ul{
  display: flex;
    align-items: anchor-center;
}

.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ff4500;
  }
}

.shimmer-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.shimmer-card-name{
  width: 80%;
  height: 20px;
  margin: 10px auto;
  border-radius: 5px;
}

.shimmer-card-rating{
  width: 40%;
  height: 20px;
  margin: 10px auto;
  border-radius: 5px;
}
.shimmer-card-deliveryTime{
  width: 60%;
  height: 20px;
  margin: 10px auto;
  border-radius: 5px;
}

.shimmer-card-cost{
  width: 50%;
  height: 20px;
  margin: 10px auto;
  border-radius: 5px;
}


.restaurant-card {
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.restaurant-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
